{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true,
        "modules": false,
        "targets": ">1%"
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "@babel/proposal-class-properties",
      {
        "loose": true
      }
    ],
    [
      "@babel/proposal-object-rest-spread",
      {
        "loose": true
      }
    ],
    [
      "babel-plugin-ts-nameof",
      {
        "loose": true
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        "@babel/transform-modules-commonjs"
      ]
    }
  }
}
